body {
  margin: 0;
  font-family: "Qanelas Soft", "Qanelas Soft", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: white;
  background: linear-gradient(rgb(17 17 17),#2b2828);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
